.header {
    margin: 0;
    padding: 28px 0 31.6px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
}

@media (min-width: 918px) {
    .header {
        padding: 45px 0 41px;
    }
}