.header__link {
    height: 22px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    text-align: right;
    display: inline-block;
    padding-top: 6px;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s linear 0.2s;
}